@page "/"
@inject HttpClient HttpClient

<PageTitle>Blazing Trails</PageTitle>

@if (trails is null)
{
    <p>Loading...</p>
}
else
{
    <TrailDetails Trail="selectedTrail"></TrailDetails>
    <div class="grid">
        @foreach (var trail in trails)
        {
            <TrailCard Trail="trail"></TrailCard>
        }
    </div>
}

@code {
    private IEnumerable<Trail>? trails;
    private Trail? selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        trails = await HttpClient.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
    }
}
