@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<PageTitle>Blazing Trails</PageTitle>

@if (trails is null)
{
    <p>Loading...</p>
}
else
{
    <TrailDetails Trail="selectedTrail"></TrailDetails>

    <TrailSearch />

    <div class="grid">
        @foreach (var trail in trails)
        {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected"></TrailCard>
        }
    </div>

    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col text-center">
                <!-- Add trail button with Bootstrap classes -->
                <button class="btn btn-primary btn-lg" @onclick="@(() => NavManager.NavigateTo("/add-trail"))">
                    <i class="bi bi-plus-lg"></i> Add New Trail
                </button>
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<Trail>? trails;
    private Trail? selectedTrail;

    protected override async Task OnInitializedAsync()
    {
        trails = await HttpClient.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
    }

    private void HandleTrailSelected(Trail trail)
    {
        selectedTrail = trail;
    }
}
