<dic>
    <div class="mb-3 text-end">
        <div class="btn-group">
            <button @onclick="@(() => mode = ViewMode.Grid)" title="Grid View" type="button"
                class="btn @(mode == ViewMode.Grid ? "btn-secondary" : "btn-outline-secondary")">
                <i class="bi bi-grid-fill"></i>    
            </button>
            <button @onclick="@(() => mode = ViewMode.Table)" title="Table View" type="button"
                class="btn @(mode == ViewMode.Table ? "btn-secondary" : "btn-outline-secondary")">
                <i class="bi bi-table"></i>    
            </button>
        </div>
    </div>

    @if (mode == ViewMode.Grid)
    {
        @GridTemplate
    }
    else if (mode == ViewMode.Table)
    {
        @TableTemplate
    }
</dic>

@code {
    private ViewMode mode = ViewMode.Grid;

    [Parameter, EditorRequired]
    public RenderFragment GridTemplate { get; set } = default!;

    [Parameter, EditorRequired]
    public RenderFragment TableTemplate { get; set; } = default!;


    private enum ViewMode { Grid, Table }
}
